* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("background_top_s.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1.0;
  font-size: 50px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 1.0;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(35, 49, 52, 0.8);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  margin-left: -25px;
}

.header-left a{
  font-family:"Hiragino Mincho ProN",serif;
  font-size: 30px;
  padding: 0px 25px;
  line-height: 65px;
  color: white;
  float: left;
  font-weight:bold;
  letter-spacing: 2px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p{
  position: absolute;
  top:35%;
  width:100%;
  color:white;
  letter-spacing: 5px;
}

.lesson-icon a{
  display: block;
  transition: all 0.5s;
}

.lesson-icon a:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

footer a {
  font-family:"Hiragino Mincho ProN",serif;
  font-size: 30px;
  font-weight:bold;
  letter-spacing: 2px;
  color:black;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
